/* MenuStyle 2 */

#horiz-menu {display: block;height: 43px;line-height: 43px;padding: 0;background: url(../images/horiz-menu-bar.png) 0 0 repeat-x;}
ul#horiznav.menutop, #horiz-menu ul.menutop {padding: 0 5px;margin: 0;z-index:120;position:relative;}
#horiz-menu li, #horiz-menu li a {z-index:200;position:relative;}
#horiz-menu a, #horiz-menu .separator {white-space: nowrap;display: block;float: left;height: 43px;line-height: 43px;font-weight: normal;font-size: 120%;overflow: hidden;text-decoration: none;z-index: 100;cursor: pointer;padding: 0 15px;background: url(../images/horiz-menu-div.png) 100% 50% no-repeat;}
#horiz-menu li.active a, #horiz-menu li.active .separator {z-index: 100;cursor: pointer;height: 43px;background: url(../images/2-horiz-menu-active.png) 0 0 repeat-x;}
#sub-menu {height: 29px;line-height: 29px;padding: 1px 0;display: block;}
#sub-menu ul.menusub {padding: 0 12px;margin: 0;position: relative;height: 29px;}
#sub-menu a, #sub-menu .separator {white-space: nowrap;display: block;float: left;height: 29px;line-height: 29px;font-size: 110%;overflow: hidden;text-decoration: none;z-index: 100;cursor: pointer;padding: 0 8px;margin-right: 10px;}
#sub-menu ul.menusub li span {padding: 0;margin: 0;height: 29px;line-height: 29px;}
