/* @group Style7 Colors */

/* Primary Colors */

body {background: #941515;}

a {color: #941515;}

#horiz-menu {background-color: #000;}
#horiz-menu ul ul {background: #000;}
.contentheading, h1, h4, .module h3 span, .moduletable h3 span, .submenu-block h3 span, .module-clean h3 span, .moduletable-clean h3 span, .module-hilite4 h3 span, .moduletable-hilite4 h3 span, a#active_menu.mainlevel, a.mainlevel:hover, a#active_menu.sublevel, a.sublevel:hover, #rokslide-toolbar li.current, #rokslide-toolbar li:hover, .moduletable-hilite7 a#active_menu.mainlevel, .moduletable-hilite7 a#active_menu.sublevel, .moduletable-hilite7 a.mainlevel:hover, .moduletable-hilite7 a.sublevel:hover, #news-rotator h1, #news-rotator h1 a {color: #941515;}

ul.menu li.active.parent ul, ul.menu li.active.parent {background: #941515;}

#submenu-container, .menustyle2 #horiz-menu li.active a, .menustyle2 #horiz-menu li.active .separator, .sidenav-block, .moduletable_menu {background-color: #191919;}
.module-hilite5, .moduletable-hilite5, .module-hilite7, .moduletable-hilite7 {background: #191919;}
ul.menu li.active.parent a:hover, ul.menu li.active.parent .separator:hover, ul.menu li.active.parent li.active.parent a:hover, ul.menu li.active.parent li.active.parent .separator:hover, ul.menu li.active li.active a, ul.menu li.active li.active .separator, ul.menu li.active.parent ul li.active.parent a.daddy, ul.menu li.active.parent ul li.active.parent .separator.daddy, ul.menu li.active li.active li.active a, ul.menu li.active li.active li.active .separator, .menustyle2 #sub-menu a:hover, .menustyle2 #sub-menu ul.menusub li.active a {color: #191919;}
#horiz-menu {border-top: 1px solid #191919;}

.module-hilite5 h3 span, .moduletable-hilite5 h3 span, .module-hilite5 a, .moduletable-hilite5 a, .module-hilite7 h3 span, .moduletable-hilite7 h3 span, .module-hilite7 a, .moduletable-hilite7 a, ul.menu a:hover, ul.menu .separator:hover, ul.menu li.active a, ul.menu li.active .separator, .menustyle2 #horiz-menu li.active a, .menustyle2 #horiz-menu li.active .separator, .menustyle2 #horiz-menu li a:hover, .menustyle2 #horiz-menu li .separator:hover, .menustyle2 #sub-menu a, .menustyle3 #sub-menu a, .menustyle4 #sub-menu a, .moduletable-hilite8 a#active_menu.mainlevel, .moduletable-hilite8 a#active_menu.sublevel, .moduletable-hilite8 a.mainlevel:hover, .moduletable-hilite8 a.sublevel:hover {color: #999;}
#horiz-menu ul ul li a:hover {color: #999 !important;}

.module-hilite6, .moduletable-hilite6 {background: #444;border: 1px solid #333;}
.module-hilite8, .moduletable-hilite8 {background: #444;}
.module-hilite3, .moduletable-hilite3 {background: #d7d7d7;border: 1px solid #c7c7c7;}
.module-hilite9, .moduletable-hilite9 {background: #d7d7d7;}
.module-hilite1, .moduletable-hilite1 {background: #C7CECF;border: 1px solid #B4B9BA;}
.module-hilite2, .moduletable-hilite2 {background: #B67C7D;border: 1px solid #ABB8BB;}

.module-hilite5, .moduletable-hilite5 {border: 1px solid #003F67;}

.module-hilite6 h3 span, .moduletable-hilite6 h3 span, .module-hilite6 a, .moduletable-hilite6 a, .module-hilite8 h3 span, .moduletable-hilite8 h3 span, .module-hilite8 a, .moduletable-hilite8 a {color: #aaa;}

.module-hilite1 h3 span, .moduletable-hilite1 h3 span, .module-hilite1 a, .moduletable-hilite1 a {color: #676F72;}

.module-hilite2 h3 span, .moduletable-hilite2 h3 span, .module-hilite2 a, .moduletable-hilite2 a {color: #66292A;}

#bottom-menu #mainlevel-bottom a, #bottommodules .module h3, .footer-module .moduletable h3, #bottom a, a.readon2:hover, .module input.button:hover, .moduletable input.button:hover {color: #737C7E;}
#bottom, #bottommodules .module h3 span, .footer-module .moduletable h3 span {color: #999;}
#bottom-menu #mainlevel-bottom a:hover, #bottom-menu #mainlevel-bottom a#active_menu.mainlevel {color: #ccc;}

/* Neutral Colors */

body, .componentheading, h2, .module h3, .moduletable h3, .submenu-block h3, .module-clean h3, .moduletable-clean h3, body.icon1 .module-hilite1 h3, body.icon1 .moduletable-hilite1 h3, body.icon1 .module-hilite2 h3, body.icon1 .moduletable-hilite2 h3, body.icon1 .module-hilite3 h3, body.icon1 .moduletable-hilite3 h3, body.icon1 .module-hilite4 h3, body.icon1 .moduletable-hilite4 h3, body.icon2 .module-hilite1 h3, body.icon2 .moduletable-hilite1 h3, body.icon2 .module-hilite2 h3, body.icon2 .moduletable-hilite2 h3, body.icon2 .module-hilite3 h3, body.icon2 .moduletable-hilite3 h3, body.icon2 .module-hilite4 h3, body.icon2 .moduletable-hilite4 h3, body.icon3 .module-hilite1 h3, body.icon3 .moduletable-hilite1 h3, body.icon3 .module-hilite2 h3, body.icon3 .moduletable-hilite2 h3, body.icon3 .module-hilite3 h3, body.icon3 .moduletable-hilite3 h3, body.icon3 .module-hilite4 h3, body.icon3 .moduletable-hilite4 h3, a.readon2, a.readon2:hover {color: #333;}

span.small, td.createdate, td.modifydate, .module-hilite3 h3 span, .moduletable-hilite3 h3 span, .module-hilite3 a, .moduletable-hilite3 a, .module-hilite9 h3 span, .moduletable-hilite9 h3 span, .module-hilite9 a, .moduletable-hilite9 a, a.mainlevel, a.sublevel, span.pathway {color: #666;}

#headerblock-right, .logo-module, #searchmod .inputbox {color: #999;}

.sidenav-block .module-menu h3, #banner-mod, .moduletable_menu h3 {color: #ccc;}

.sidenav-block .module-menu h3 span, #searchmod input.button, .module-hilite5, .moduletable-hilite5, .module-hilite6, .moduletable-hilite6, .module-hilite7, .moduletable-hilite7, .module-hilite8, .moduletable-hilite8, body.icon1 .module-hilite5 h3, body.icon1 .moduletable-hilite5 h3, body.icon1 .module-hilite6 h3, body.icon1 .moduletable-hilite6 h3, body.icon2 .module-hilite5 h3, body.icon2 .moduletable-hilite5 h3, body.icon2 .module-hilite6 h3, body.icon2 .moduletable-hilite6 h3, body.icon3 .module-hilite5 h3, body.icon3 .moduletable-hilite5 h3, body.icon3 .module-hilite6 h3, body.icon3 .moduletable-hilite6 h3, .module-hilite7, .moduletable-hilite7, .module-hilite8, .moduletable-hilite8, ul.menu li.active.parent a, ul.menu li.active.parent .separator, ul.menu li.active.parent li.active.parent a, ul.menu li.active.parent li.active.parent .separator, ul.menu a, ul.menu .separator, .menustyle1 #sub-menu a, .menustyle4 #horiz-menu li:hover, #horiz-menu a, #horiz-menu .separator, #horiz-menu li a, #horiz-menu li .separator, .menustyle2 #sub-menu a:hover, .menustyle2 #sub-menu ul.menusub li.active a, .menustyle3 #horiz-menu li.active a, .menustyle3 #horiz-menu li.active .separator, .menustyle3 #horiz-menu li:hover a, .menustyle3 #horiz-menu li:hover .separator, .menustyle3 #sub-menu a:hover, .menustyle3 #sub-menu ul.menusub li.active a, .menustyle3 #sub-menu li.active a, .menustyle3 #sub-menu li.active .separator, .menustyle4 #sub-menu a:hover, .menustyle4 #sub-menu ul.menusub li.active a, .menustyle4 #horiz-menu li.active a, .menustyle4 #horiz-menu li.active .separator, .menustyle1 #horiz-menu li.active a, .menustyle1 #horiz-menu li.active .separator, .menustyle1 #horiz-menu li:hover a, .menustyle1 #horiz-menu li:hover .separator, .menustyle3 #horiz-menu li:hover, .moduletable-hilite7 a.mainlevel, .moduletable-hilite7 a.sublevel, .moduletable-hilite8 a.mainlevel, .moduletable-hilite8 a.sublevel, .moduletable_menu h3 span {color: #fff;}
#mainmodules3, #mainmodules4, .module-hilite4, .moduletable-hilite4, input#mod_login_username.inputbox, input#mod_login_password.inputbox, input#modlgn_username.inputbox, input#modlgn_passwd.inputbox, .module input.button, .moduletable input.button {background: #fff;}
#main-body, #moduleslider-size {background-color: #fff;}

#header-bar {background-color: #191919;}
#bottom {background: #313735;}
#topbanner {background: #fbfbfb;}
.tool-tip {background: #f6f6f6;}
tr.sectiontableentry1 td, td.sectiontableentry1 {background: #f7f7f7 url(../images/module-h3.png) 0 0 repeat-x;}
.module input.button:hover, .moduletable input.button:hover {background: #eee;}

/* Borders */

#header-divider, .maincontent-surround, #mainmodules .block, #mainmodules2 .block, #leftcol .moduletable, #rightcol .moduletable, #maincol .banner-module .moduletable, #maincol .banner-module2 .moduletable, #moduleslider-size.alt, .showcase-module .moduletable, .showcase-module2 .moduletable {border-top: 1px solid #ddd;}
#leftcol, .showcase-module, #mainmodules .block.first, #mainmodules .block.middle, #mainmodules2 .block.first, #mainmodules2 .block.middle {border-right: 1px solid #ddd;}
#rightcol, .showcase-module {border-left: 1px solid #ddd;}
#topbanner, #pathway, fieldset {border-bottom: 1px solid #ddd;}
.module-hilite4, .moduletable-hilite4 {border: 1px solid #ddd;}

#main-body, #horiz-menu, #sub-menu, #header-bar {border-left: 1px solid #881212;border-right: 1px solid #881212;}
#main-body {border-bottom: 1px solid #881212;}
#mainmodules3, #mainmodules4, #moduleslider-size.alt-bottom {border: 1px solid #881212;}
#bottom, #bottom-menu {border-right: 1px solid #881212;border-left: 1px solid #881212;}

.module input.button, .moduletable input.button, input#mod_login_username.inputbox, input#mod_login_password.inputbox, input#modlgn_username.inputbox, input#modlgn_passwd.inputbox {border: 1px solid #ccc;}

#horiz-menu ul ul {border: 1px solid #fff;}
ul.menu li, .moduletable-hilite7 table td {border-bottom: 1px solid #151515;}
.moduletable-hilite8 table td {border-bottom: 1px solid #333;}
.moduletable-hilite9 table td {border-bottom: 1px solid #c7c7c7;}
ul.menu li.active.parent {border: 1px solid #A94444;}
.tool-tip {border: 1px solid #e6e6e6;}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {border-bottom: 1px solid #f1f1f1;}

/* @end */

/* @group Style7 Images */

#header-bar {background-image: url(../images/style7/header-bar.png);background-position: 0 0;background-repeat: repeat-x;}
#logo {background: url(../images/style7/logo.png) 0 0 no-repeat;}
#searchmod input.button {background: url(../images/style7/search-button.png) no-repeat;}
#searchmod .inputbox {background: url(../images/style7/search-bg.png) 0 0 no-repeat;}
#main-body {background-image: url(../images/module-bottom-bg.png);background-position: 50% 100%;background-repeat: repeat-x;}
#bottom-menu {background: url(../images/style7/bottom-menu-bar.png) 0 0 repeat-x;}
img#rocket {background: url(../images/style7/rocket.png) 0 0 no-repeat;}
img#rocket2 {background: url(../images/style7/rocket2.png) 0 0 no-repeat;}
.module h3, .moduletable h3 {background: url(../images/module-h3.png) 0 0 repeat-x;}
#maincol .module, #maincol .moduletable {background: url(../images/module-bottom-bg.png) 50% 100% repeat-x;}
body.icon1 .module-hilite1 h3, body.icon1 .moduletable-hilite1 h3, body.icon1 .module-hilite2 h3, body.icon1 .moduletable-hilite2 h3, body.icon1 .module-hilite3 h3, body.icon1 .moduletable-hilite3 h3, body.icon1 .module-hilite4 h3, body.icon1 .moduletable-hilite4 h3 {background: url(../images/h3-icon1.png) 0 1px no-repeat;}
body.icon2 .module-hilite1 h3, body.icon2 .moduletable-hilite1 h3, body.icon2 .module-hilite2 h3, body.icon2 .moduletable-hilite2 h3, body.icon2 .module-hilite3 h3, body.icon2 .moduletable-hilite3 h3, body.icon2 .module-hilite4 h3, body.icon2 .moduletable-hilite4 h3 {background: url(../images/h3-icon2.png) 0 1px no-repeat;}
body.icon3 .module-hilite1 h3, body.icon3 .moduletable-hilite1 h3, body.icon3 .module-hilite2 h3, body.icon3 .moduletable-hilite2 h3, body.icon3 .module-hilite3 h3, body.icon3 .moduletable-hilite3 h3, body.icon3 .module-hilite4 h3, body.icon3 .moduletable-hilite4 h3 {background: url(../images/h3-icon3.png) 0 1px no-repeat;}
body.icon1 .module-hilite5 h3, body.icon1 .moduletable-hilite5 h3, body.icon1 .module-hilite6 h3, body.icon1 .moduletable-hilite6 h3 {background: url(../images/h3-icon1.png) 0 1px no-repeat;}
body.icon2 .module-hilite5 h3, body.icon2 .moduletable-hilite5 h3, body.icon2 .module-hilite6 h3, body.icon2 .moduletable-hilite6 h3 {background: url(../images/h3-icon2.png) 0 1px no-repeat;}
body.icon3 .module-hilite5 h3, body.icon3 .moduletable-hilite5 h3, body.icon3 .module-hilite6 h3, body.icon3 .moduletable-hilite6 h3 {background: url(../images/h3-icon3.png) 0 1px no-repeat;}

a.mainlevel, a.sublevel {background: url(../images/menu-bullet.png) 0 2px no-repeat;}
.moduletable-hilite7 a.mainlevel, .moduletable-hilite8 a.mainlevel {background: url(../images/sidenav-arrow.png) 0 2px no-repeat;}
.moduletable-hilite7 a.sublevel, .moduletable-hilite8 a.sublevel {background: url(../images/sidenav-arrow.png) 0 1px no-repeat;}
.sidenav-block-right {background: url(../images/sidenav-block-r.png) 100% 0 no-repeat;}
.sidenav-block-left {background: url(../images/sidenav-block-l.png) 0 0 no-repeat;}
#horiz-menu ul ul li a.daddy span, #horiz-menu ul ul li a.daddy:hover span, #horiz-menu ul li.active.parent ul li a.daddy span, #horiz-menu ul ul li .separator.daddy span, #horiz-menu ul ul li .separator.daddy:hover span, #horiz-menu ul li.active.parent ul li .separator.daddy span {background: url(../images/sidenav-arrow.png) 95% 60% no-repeat;}
ul.menu li.active.parent li span, ul.menu li.active.parent li.active.parent span {background: url(../images/sidenav-arrow.png) 14px 50% no-repeat;}
ul.menu li.active.parent li li span, ul.menu li.active.parent li.active.parent span {background-position: 34px 50%;}
ul.menu li.active.parent li.active a span, ul.menu li.active.parent li.active.parent a.daddy span {background: url(../images/style7/sidenav-arrow-active.png) 14px 50% no-repeat;}
.menustyle1 #horiz-menu li.active, .menustyle1 #horiz-menu li:hover, .menustyle1 #horiz-menu li.sfHover {background: url(../images/style7/menustyle1/horiz-menu-tab-r.png) 100% 0 no-repeat;}
.menustyle1 #horiz-menu li.active a, .menustyle1 #horiz-menu li.active .separator, .menustyle1 #horiz-menu li:hover a, .menustyle1 #horiz-menu li:hover .separator, .menustyle1 #horiz-menu li.sfHover a, .menustyle1 #horiz-menu li.sfHover .separator {background: url(../images/style7/menustyle1/horiz-menu-tab-l.png) 0 0 no-repeat;}
.menustyle1 #sub-menu ul.menusub {background: url(../images/style7/menustyle1/sub-menu-active-bg.png) 0 0 repeat-x;border: 1px solid #444;}
.menustyle3 #horiz-menu li.active {background: url(../images/style7/menustyle3/3-horiz-menu-tab-l.png) 0 50% no-repeat;}
.menustyle3 #horiz-menu li.active a, .menustyle3 #horiz-menu li.active .separator {background: url(../images/style7/menustyle3/3-horiz-menu-tab-r.png) 100% 50% no-repeat;}
.menustyle3 #horiz-menu li:hover, .menustyle3 #horiz-menu li.sfHover {background: url(../images/style7/menustyle3/3-horiz-menu-tab-l.png) 0 50% no-repeat;}
.menustyle3 #horiz-menu li:hover a, .menustyle3 #horiz-menu li:hover .separator, .menustyle3 #horiz-menu li.sfHover a, .menustyle3 #horiz-menu li.sfHover .separator {background: url(../images/style7/menustyle3/3-horiz-menu-tab-r.png) 100% 50% no-repeat;}
.menustyle3 #sub-menu li.active {background: url(../images/style7/menustyle3/3-sub-menu-tab-l.png) 0 50% no-repeat;}
.menustyle3 #sub-menu li.active a, .menustyle3 #sub-menu li.active .separator {background: url(../images/style7/menustyle3/3-sub-menu-tab-r.png) 100% 50% no-repeat;}
.menustyle4 #horiz-menu {background: url(../images/style7/menustyle4/4-horiz-menu-bar.png) 0 0 repeat-x;}
.menustyle4 #horiz-menu a, .menustyle4 #horiz-menu .separator, .menustyle4 #horiz-menu li.active:hover a, .menustyle4 #horiz-menu li.active:hover .separator, .menustyle4 #horiz-menu li.active.sfHover a, .menustyle4 #horiz-menu li.active.sfHover .separator {background: url(../images/style7/menustyle4/4-horiz-menu-div.png) 100% 50% no-repeat;}
.menustyle4 #horiz-menu li.active {background: url(../images/style7/menustyle4/4-horiz-menu-div.png) 100% 0 no-repeat;}
.menustyle4 #horiz-menu li.active a, .menustyle4 #horiz-menu li.active .separator {background: url(../images/style7/menustyle4/4-horiz-menu-active.png) 50% 0 no-repeat;}
.menustyle4 #horiz-menu li:hover, .menustyle4 #horiz-menu li.sfHover {background: url(../images/style7/menustyle4/4-horiz-menu-active.png) 50% 0 no-repeat;}
.menustyle4 #sub-menu {background: url(../images/style7/menustyle4/4-sub-menu-bar.png) 0 0 repeat-x;}
.menustyle4 #sub-menu li.active a {background: url(../images/style7/menustyle4/4-sub-menu-active.png) 50% 0 no-repeat;}
#bottom-menu #mainlevel-bottom a {background: url(../images/style7/bottom-menu-div.png) 100% 50% no-repeat;}

a.readon {background: url(../images/menu-bullet.png) 0 5px no-repeat;}
a.readon2 {background: url(../images/readon.png) 0 0 no-repeat;}
span.pathway img {background: url(../images/menu-bullet.png) 0 50% no-repeat;}
a.large .button {background: url(../images/style7/font-lg.png) 0 0 no-repeat;}
a.small .button {background: url(../images/style7/font-sm.png) 0 0 no-repeat;}

.module-clean input.button, .moduletable-clean input.button, .module-hilite1 input.button, .module-hilite2 input.button, .module-hilite3 input.button, .moduletable-hilite1 input.button, .moduletable-hilite2 input.button, .moduletable-hilite3 input.button, .module-hilite4 input.button, .moduletable-hilite4 input.button, .module-hilite5 input.button, .moduletable-hilite5 input.button, .module-hilite6 input.button, .moduletable-hilite6 input.button, .module-hilite7 input.button, .moduletable-hilite7 input.button, .module-hilite8 input.button, .moduletable-hilite8 input.button, .module-hilite9 input.button, .moduletable-hilite9 input.button {background: url(../images/login-button.png) 0 0 no-repeat;}

#moduleslider-size {background-image: url(../images/module-bottom-bg.png);background-position: 0 100%;background-repeat: repeat-x;}
#rokslide-toolbar {background: url(../images/module-h3.png) 0 100% repeat-x;}
#tabmodules li {background: url(../images/tabber-div.png) 100% 100% no-repeat;}

#news-rotator-bg {background: url(../images/style7/showcase-bg-left.png) 0 0 no-repeat;}
#news-rotator-bg2 {background: url(../images/style7/showcase-bg-right.png) 100% 0 no-repeat;}
#news-rotator .story-stripe {background: url(../images/style7/stripe-bg.png) 0 85px repeat-x;}
#news-rotator .controls img {background-image:url(../images/news-scroller-controls.png);}

/* @end */